.boton-link {
      display: inline-block;
      padding: 10px 20px;
      background-color: #28a745; /* verde */
      color: white;
      text-decoration: none;
      border-radius: 8px;
      font-family: Arial, sans-serif;
      font-size: 16px;
      transition: background-color 0.3s ease;
      &:hover {
                background-color: #218838; /* verde más oscuro */
    }
}
.boton-qs{
            @extend .boton-link
}
