footer{
        background-color: grey;
        align-items: center;
        justify-items: center;
         .row{
            align-items: center;
            justify-content: center;
            .footer-col {   
                        padding-right: 15px;
                        height: 80%;
                        margin-left: auto;
                        margin-right: auto;
                        .footer-col ul{
                                      padding-left: 0; /* quita sangría */
                                      list-style: none; /* quita viñetas */
                                      text-align: center; /* centra texto */ 
                                      .footer-col ul li a{
                                                        text-decoration: none;
                                                        color: aliceblue;
                                                        }
                                      }           
                        }
        }
}
       
.footer-col .boton-link {
    display: block; /* cambia a bloque */
    width: fit-content; /* ajusta ancho al texto */
    margin: 0 auto; /* centra horizontalmente */
}         
                        
                                     



// .row{
//     align-items: center;
//     justify-content: center;
// }
// .footer-col {
    
//     padding-right: 15px;
//     height: 80%;
//     margin-left: auto;
//     margin-right: auto;
// }
// .footer-col ul{
//                 padding-left: 0; /* quita sangría */
//                 list-style: none; /* quita viñetas */
//                 text-align: center; /* centra texto */

// }

// .footer-col ul{
//                 padding-left: 0; /* quita sangría */
//                 list-style: none; /* quita viñetas */
//                 text-align: center; /* centra texto */
                
// }
    // .footer-col ul a{
    //                 text-decoration: none;
    //                 color: aliceblue;
    // }