@use "../utilities/variables";
h1{
color: variables.$color-texto-claro;
text-align: variables.$texto-general;
}
h2{
    color: variables.$color-texto-claro;
    text-align: variables.$texto-general;
}

h3{
    color: variables.$color-texto-claro;
    text-align: variables.$texto-general;
}
p{
    color: variables.$color-texto-claro;
    text-align: variables.$texto-general;

}