$color-texto-claro: rgb(242, 243, 244);
$transparencia: rgba(135, 151, 135, 0.452);
$fuente-principal: "Oswald", sans-serif;
$texto-general: center;
$sombra-hover: 0px 4px 10px gray;
$sombra-caja: 0 30px 60px rgba(0, 0, 0, 0.2);